.navbar {
    background-color: #3465a4 ;
}

.navbar * {
    color: white !important;
}

.navbar .form-control {
    border-radius: 20px;
}

.navbar .btn-outline-light {
    border-radius: 20px;
    border-color: white;
    color: white;
}
.icon{
	margin-right: 30px;
}


