body {
	color: #3465a4;
}

.btn-outline-secondary {
	border-color: #e9ecef;
	color: #e9ecef;
}
.custom-navbar {
	background-color: #084673 !important;
	color: white !important; 
}

.btn-custom-width {
	width: 95%;
}

.offcanvas {
   color:#3465a4 ;
}