body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.hero {
    background: linear-gradient(to bottom #ffffff 60%);
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding-top: 60px;
}

.hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 100px;
    background: rgb(0, 0, 0);
    border-top-left-radius: 100% 50px;
    border-top-right-radius: 100% 50px;
    z-index: 0;
}

.container {
    position: relative;
    z-index: 1;
}
